body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculatorBody {
    width: 500px;
    height: 700px;
    background-color: bisque;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.calculatorScreen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 475px;
    height: 50px;
    background-color: beige;
    border-radius: 8px;
    font-size: 24px; 
    font-family: 'monospace'; 
    padding: 0 10px; 
  }


.calculatorButtons {
    width: 450px; 
    height: 580px; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    margin-bottom: 30px;
}

  
  .topRow, .fourthRow, .thirdRow, .secondRow, .bottomRow {
    display: flex;
    justify-content: space-between; 
  }
  
  button {
    flex: 0 0 23.5%; 
    margin: 5px; 
    border-radius: 5px;
    padding: 10px; 
    font-size: 18px; 
}